@font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat-Bold.eot');
	src: url('./Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		 url('./Montserrat-Bold.ttf') format('truetype'),
		 url('./Montserrat-Bold.woff') format('woff'),
		 url('./Montserrat-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
  }

  @font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat-Regular.eot');
	src: url('./Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		 url('./Montserrat-Regular.ttf') format('truetype'),
		 url('./Montserrat-Regular.woff') format('woff'),
		 url('./Montserrat-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
  }

  @font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat-SemiBold.eot');
	src: url('./Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('./Montserrat-SemiBold.ttf') format('truetype'),
		 url('./Montserrat-SemiBold.woff') format('woff'),
		 url('./Montserrat-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
  }

  @font-face {
	font-family: 'Sofia Sans';
	src: url('./SofiaSans-ExtraBold.eot');
	src: url('./SofiaSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
		 url('./SofiaSans-ExtraBold.ttf') format('truetype'),
		 url('./SofiaSans-ExtraBold.woff') format('woff'),
		 url('./SofiaSans-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
  }

  @font-face {
	font-family: 'Sofia Sans';
	src: url('./SofiaSans-Regular.eot');
	src: url('./SofiaSans-Regular.eot?#iefix') format('embedded-opentype'),
		 url('./SofiaSans-Regular.ttf') format('truetype'),
		 url('./SofiaSans-Regular.woff') format('woff'),
		 url('./SofiaSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Sofia Sans';
	src: url('./SofiaSans-SemiBold.eot');
	src: url('./SofiaSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('./SofiaSans-SemiBold.ttf') format('truetype'),
		 url('./SofiaSans-SemiBold.woff') format('woff'),
		 url('./SofiaSans-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
  }

  @font-face {
	font-family: 'Sofia Sans';
	src: url('./SofiaSans-Light.eot');
	src: url('./SofiaSans/SofiaSans-Light.eot?#iefix') format('embedded-opentype'),
		 url('./SofiaSans-Light.ttf') format('truetype'),
		 url('./SofiaSans-Light.woff') format('woff'),
		 url('./SofiaSans-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
  }