.notification {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 23px 0 0;
	position: relative;
	cursor: pointer;
}

.notification-badge {
	position: absolute;
	top: -3px;
    right: -2px;
	z-index: 11;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10px;
	height: 10px;
	background-color: #000;
	border-radius: 50%;
	font-family: 'Sofia Sans';
	font-weight: 600;
	font-size: 8px;
	color: #fff;
}