// .input-wrap {}

.input-inp {
	background: #E4E4E4;
	border: none;
	outline: none;
	border-radius: 16px;
	padding: 8px 16px;
	width: 100%;
	font-family: 'Sofia Sans';
	font-weight: 400;
	font-size: 17px;
	line-height: 20px;
	color: #8E8E93;
}