
.landing-wrap {
	background-color:  #F9F9F9;
}

.header-section {
	padding: 0 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// .main {}

.main-section {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 80px 90px 0;
}

.partner-join {
	margin: 0 38px 0 0;
}

.partner-join-title {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 30px;
	color: #000000;
	margin: 0 0 40px 0;
}

.landing-promo {
	flex-grow: 1;
}

.landing-promo-title {
	font-family: 'Sofia Sans';
	font-style: normal;
	font-weight: 800;
	font-size: 44.8553px;
	line-height: 54px;
	color: #000000;
	margin: 0;

	& > span {
		display: block;

		&:first-child {
			text-align: left;
		}

		&:last-child {
			text-align: center;
		}
	}

	&_top {
		margin: 0 0 0 38px;

		& > span:last-child {
			margin: 0 0 0 300px;
		}
	}

	&_bttm {
		font-size: 50.8374px;
		line-height: 61px;
		margin: -15px 0 0 0;

		& > span:last-child {
			margin: 0 0 0 190px;
		}
	}
}

.landing-promo-imgs {
	margin: -40px 0 0 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;

	& > .landing-promo-img {

		&:first-child {
			margin: 0 -70px 0 0;
		}

		&:last-child {
			margin: 75px 0 0 0;
		}
	}
}

.landing-promo-img {

	& > img {
		width: 100%;
		display: block;
	}
}