.auth-wrap {
	background: #F9F9F9;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth-card {
	min-width: 367px;
}

.auth-img {
	margin: 0 0 45px 0;
	width: 367px;
	height: 367px;
	border-radius: 50%;
	background: #13213E;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& > img {
		width: 124px;
	}
}

.auth-txt {
	margin: -60px 0 0 0;
	font-family: 'Sofia Sans';
	font-weight: 800;
	font-size: 100px;
	color: #FFFFFF;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.auth-login-form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	& > * {
		&:not(:last-child) {
			margin: 0 0 24px 0;
		}
	}

	& > .input-wrap {
		width: 100%;
	}

	& > .btn-red {
		min-width: 170px;
	}
}